.about {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 95%;
  width: 800px;

  .main-content {
    width: 100%;
    height: 650px;
    .flex(space-evenly, center, column);
  }

  .sub-content {
    .flex(space-between, center);
    @media @phone {
      .flex(center, center, column);
    }
  }

  .tile {
    background: #fff;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
    transition: 500ms all;

    .video {
        height: 75%;
        background: black;
        &.large {
            height: 85%;
        }
    }

    .content {
        height: 25%;
        .flex();
        &.large {
            height: 15%;
        }

        h2 {
            font-size: @medium;
        }
    }

    &.large {
      height: 500px;
      width: 100%;
    }

    &.small {
      height: 200px;
      width: 30%;
      @media @phone {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
