// Mixins Here
.flex(@justify: 'center', @align: 'center', @direction: 'row') {
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-direction: @direction;
}

.button (@height, @width) {
    height: @height;
    width: @width;
    background: @button-bg;
}