// Mixins Here
.flex(@justify: center; @align: center; @direction: row) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-direction: @direction;
}

.button (@height; @width) {
    height: @height;
    width: @width;
    font-size: 1.8rem;
    color: #fff;
    background: @btn-bg-color;
    border-radius: 5px;
    .flex();
}