.sign-in {
  height: 100vh;
  .flex();
  .sign-in-form {
    border: 1px solid @river-bend;
    border-radius: 5px;
    padding: 40px 60px;
    width: 500px;
    height: 450px;
    max-width: 95%;
    .flex(space-around, center, column);

    div {
        width: 100%;
        height: 70px;
        .flex(space-between, space-between, column);
    }

    label {
      width: 100%;
      font-size: @medium;
    }

    input {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid @river-bend;
      padding: 0 10px;
      &:hover, &:focus, &:active {
          background: @porcelain;
          outline: none;
          border: 1px solid @btn-bg-color;
      }
    }
    .btn {
      .button(40px; 100%);
    }
  }
}
